.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 5rem;
}
.loginheader{
    vertical-align: middle;
    width: 200px;
    padding: 15px;
    margin: auto;
}

.loginheader img{
    
    margin: auto;
    margin-inline: 40px;
}

