<div class="container pad">
    <div class="row padrow">
        <div class="col-sm d-flex justify-content-center">
            <div class="card" style="width: 20rem;" routerLink="/home">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 d-flex justify-content-center">
                            <i class="bi bi-person-square" style="font-size: 2em;"></i>
                        </div>
                        <div class="col-9">
                            <h5 class="card-title">Gestione utenti</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Gestisci le informazioni degli utenti, crea o elimina account</h6>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-sm d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 d-flex justify-content-center">
                            <i class="bi bi-handbag" style="font-size: 2em;"></i>
                        </div>
                        <div class="col-9">
                            <h5 class="card-title">Prodotti</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Modifica le informazioni dei prodotti</h6>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-sm d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 d-flex justify-content-center">
                            <i class="bi bi-graph-up" style="font-size: 2em;"></i>
                        </div>
                        <div class="col-9">
                            <h5 class="card-title">Aste</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Gestione delle aste</h6>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
    <div class="row padrow">
        <div class="col-sm d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 d-flex justify-content-center">
                            <i class="bi bi-person-square" style="font-size: 2em;"></i>
                        </div>
                        <div class="col-9">
                            <h5 class="card-title">Statistiche</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <a href="#" class="card-link">Cerca utente</a><br>
                            <a href="#" class="card-link">Crea nuovo utente</a>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-sm d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 d-flex justify-content-center">
                            <i class="bi bi-person-square" style="font-size: 2em;"></i>
                        </div>
                        <div class="col-9">
                            <h5 class="card-title">Impostazioni</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <a href="#" class="card-link">Cerca utente</a><br>
                            <a href="#" class="card-link">Crea nuovo utente</a>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-sm d-flex justify-content-center">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 d-flex justify-content-center">
                            <i class="bi bi-person-square" style="font-size: 2em;"></i>
                        </div>
                        <div class="col-9">
                            <h5 class="card-title">Cassa</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <a href="#" class="card-link">Cerca utente</a><br>
                            <a href="#" class="card-link">Crea nuovo utente</a>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
  </div>
